.Contenedor
{
    background-color: rgb(82, 18, 143);
    padding: 10px;
    font-size: 23px;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr 1fr;
    grid-template-areas: "header   header   header"
                         "nav      nav      nav"
                         "section1 section2 ads"
                         "foot     foot     foot"
                         "rrss1    rrss2    rrss3" ;
}
.Contenedor .header
{
    background-color: yellow;
    grid-column: header;
}
.Contenedor .nav
{
    background-color: bisque;
    grid-column: nav;
}
.Contenedor .section1
{
    background-color: azure;
    grid-column: section1;
    
}
.Contenedor .section2
{
    background-color: azure;
    grid-column: section2;
    
}
.Contenedor .ads
{
    background-color: blanchedalmond;
    grid-column: ads;
}
.Contenedor .ads .hijo
{
    background-color: greenyellow;
    height: 100px ;
    width: 100px;
    position: relative;
    left: 70px;
}
.Contenedor .ads .Nombre
{
    background-color: white;
    
}
.Contenedor .foot
{
    background-color: chartreuse;
    grid-column: foot;
}
.Contenedor .facebook
{
    background-color: aquamarine;
    grid-column: rrss1;
}
.Contenedor .rrss
{
    background-color: aquamarine;
    grid-column: rrss2;
}
.Contenedor .youtube
{
    background-color: aquamarine;
    grid-column: rrss3;
}
